In [2040]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2041]:
train_data=pd.read_csv('/content/Final_Train_Dataset.csv',usecols=['experience', 'job_description', 'job_desig', 'job_type',
       'key_skills', 'location', 'salary', 'company_name_encoded'])
test_data=pd.read_csv('/content/Final_Test_Dataset.csv')

In [2042]:
train_data.head(2)

,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458

In [2043]:
test_data.head(2)

,experience,job_description,job_desig,job_type,key_skills,location,company_name_encoded
0,7-12 yrs,Professional experience in Java/J2EE based ser...,IT Technology Senior Consultant/java/ J2ee/ Se...,NaN,"Java, J2Ee, Tomcat, JBoss, Weblogic, Oracle, E...",Bengaluru,2066
1,0-5 yrs,We are looking for 20+ Fresher/Experienced Can...,Medical Billing Process | International KPO | ...,NaN,"Medical Billing, Insurance Processing",Ahmedabad(Sola),2629

In [2044]:
train_data['job_type'].fillna('missingjobtype', inplace=True)
train_data['job_type'].replace('Analytics', 'analytics', inplace=True)
train_data['job_type'].replace('Analytic', 'analytics', inplace=True)
train_data['job_type'].replace('ANALYTICS', 'analytics', inplace=True)
train_data['job_type'].replace('analytic', 'analytics', inplace=True)

test_data['job_type'].fillna('missingjobtype', inplace=True)
test_data['job_type'].replace('Analytics', 'analytics', inplace=True)
test_data['job_type'].replace('Analytic', 'analytics', inplace=True)
test_data['job_type'].replace('ANALYTICS', 'analytics', inplace=True)
test_data['job_type'].replace('analytic', 'analytics', inplace=True)

In [2045]:
train_data.dropna(subset=['key_skills'],inplace=True)
test_data.dropna(subset=['key_skills'],inplace=True)

In [2046]:
#For Descriptions which have Nan Values , we would replace them with the "Missing Description"
train_data['job_description'].fillna("Missing Description",inplace=True)
#For Descriptions which have Nan Values , we would replace them with the "Missing Description"
test_data['job_description'].fillna("Missing Description",inplace=True)

In [2047]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19801 entries, 0 to 19801
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   experience            19801 non-null  object
 1   job_description       19801 non-null  object
 2   job_desig             19801 non-null  object
 3   job_type              19801 non-null  object
 4   key_skills            19801 non-null  object
 5   location              19801 non-null  object
 6   salary                19801 non-null  object
 7   company_name_encoded  19801 non-null  int64
dtypes: int64(1), object(7)
memory usage: 1.4+ MB

In [2048]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6601 entries, 0 to 6600
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   experience            6601 non-null   object
 1   job_description       6601 non-null   object
 2   job_desig             6601 non-null   object
 3   job_type              6601 non-null   object
 4   key_skills            6601 non-null   object
 5   location              6601 non-null   object
 6   company_name_encoded  6601 non-null   int64
dtypes: int64(1), object(6)
memory usage: 412.6+ KB

In [2049]:

train_data['Minimum_experience']=train_data['experience'].apply(lambda x:x.split('-')[0])
train_data['Maximum_experience']=train_data['experience'].apply(lambda x:x.split('-')[1])
train_data['Maximum_experience']=train_data['Maximum_experience'].apply(lambda x:x.split(' ')[0])
train_data['key_skill_len']=train_data['key_skills'].apply(lambda x:len(x.split(",")))

In [2050]:
test_data['Minimum_experience']=test_data['experience'].apply(lambda x:x.split('-')[0])
test_data['Maximum_experience']=test_data['experience'].apply(lambda x:x.split('-')[1])
test_data['key_skill_len']=test_data['key_skills'].apply(lambda x:len(x.split(",")))
test_data['Maximum_experience']=test_data['Maximum_experience'].apply(lambda x:x.split(' ')[0])

In [2051]:
print("SOME OF KEY SKILLS IN ANALYTICS INDUSTRY : ")
print("1:",train_data['key_skills'][2])
print("2",train_data['key_skills'][1])
print("3",train_data['key_skills'][9])
print("4",train_data['key_skills'][18])
print("5",train_data['key_skills'][29])

SOME OF KEY SKILLS IN ANALYTICS INDUSTRY :
1: HR Analytics, Employee Engagement, Training, Succession Planning...
2 ppc, logistics, inventory management, supply chain management, procurement,...
3 accounting standards, finance, auditing, financial planning...
4 Information Retrieval, Hadoop, Hive, Spark, Mapreduce, SCALA...
5 Life Insurance, Actuarial, Actuarial Analyst, actuary, Regression Testing...

In [2052]:
#cleaning unecessary tokens in skills for better understanding for algorithms...
def clean_skills(skill):
    skills=str(skill).lower()
    skills=re.sub(r'\...',' ',skills)
    skills=re.sub(r',',' ',skills)
    skills=re.sub('\s+',' ',skills)
    return skills

train_data['Key_Skills']=train_data['key_skills'].apply(clean_skills)
test_data['Key_Skills']=test_data['key_skills'].apply(clean_skills)

In [2053]:
train_data['Key_Skills'][0],train_data['Key_Skills'][1]

('team skills communication skills analytical skills problem solving ',
 'ppc logistics inventory management supply chain management procurement ')

In [2054]:
a = 0 
for i in range(a,a+10):
    print(train_data['job_description'][i])
    print(train_data['job_desig'][i])
    print(train_data['key_skills'][i])
    print()

Exp: Minimum 5 years;Good understanding of IOC rules; Must Have:;Good analytical skills;Good ...
Senior Exploit and Vulnerability Researcher
team skills, communication skills, analytical skills, problem solving...

He should have handled a team of atleast 5-6 direct reportees;mechanical or Diploma (mechanical) with at ...
Head SCM
ppc, logistics, inventory management, supply chain management, procurement,...

Must be an effective communicator (written & spoken) and strong in inter personal relationship & ...
Deputy Manager - Talent Management & Leadership Development - Auto
HR Analytics, Employee Engagement, Training, Succession Planning...

7  -  10 years of overall experience in data engineering and Big Data systems;Proficient understanding ...
Associate Manager Data Engineering
SQL, Javascript, Automation, Python, Ruby, Analytics, Machine learning...

Chartered Accountancy degree or MBA in Finance from a premier institute with 1-3 years of experience in ...
TS- GSA- Senior Analyst
accounting, finance, cash flow, financial planning, statutory accounting

4.	Willingness to travel;5.	Experience in Teacher Training is ...
Senior Trainer- Academics
academics, effective communication, teacher training, academic trainer...

- Experience in managing fraud analytics with knowledge across customer lifecycle is must;- Candidate ...
Associate Vice President - Fraud Analytics - SAS - Bank
Fraud Analytics, People Management Skills, Team Leading, Problem Solving...

Qualified Chartered Accountant with 1-3 yrs of Post qualification ...
Manager - Internal Audit - CA - Big4
Accounting, Internal Audit, Auditing, Enterprise Risk Management, Big4...

Proven experience as payroll executive or specialist;Very good knowledge of legislation and regulations ...
Payroll Executive
esic, hr, bonus, pf, tds, payroll, superannuation, wages, leave...

Other activities as may be required over the period of time for smooth functioning of Finance operations ...
Required CA (manager Finance) for R&R Salons Pvt Ltd Bangalore
accounting standards, finance, auditing, financial planning...

In [2055]:
#Since there are a lot of unnecessary tokens in the text, we  have to clean those for further better understanding , so that 
#algorithms learn our data better...
def clean_description(description):
    desc=str(description).lower()
    desc=re.sub(r',',' ',desc)
    desc=re.sub(r'/...',' ',desc)
    desc=re.sub(r'[^a-z]',' ',desc)
    desc=re.sub('\s+',' ',desc)
    return desc


train_data['JOB_DESCRIPTION']=train_data['job_description'].apply(clean_description)
test_data['JOB_DESCRIPTION']=test_data['job_description'].apply(clean_description)

In [2056]:
def clean_desig(desig):
    designation=str(desig).lower()
    designation=re.sub('[^a-z]',' ',designation)
    designation=re.sub('\s+',' ',designation)
    return designation

train_data['Job_Desig']=train_data['job_desig'].apply(clean_desig)
test_data['Job_Desig']=test_data['job_desig'].apply(clean_desig)

In [2057]:
def clean_location(loc):
    location = loc.lower()
    location = re.sub(r'[^a-z]', ' ', location)
    location = re.sub(r'\s+', ' ', location)
    return location

train_data['Location'] = train_data['location'].apply(clean_location)
test_data['Location'] = test_data['location'].apply(clean_location)

In [2058]:
print("After Cleaning The Dataset..")
a = 0 
for i in range(a,a+10):
    print("1. ",train_data['JOB_DESCRIPTION'][i])
    print("2. ",train_data['Job_Desig'][i])
    print("3. ",train_data['Key_Skills'][i])
    print("4. ",train_data['Location'][i])
    print("5. ",train_data['job_type'][i])
    print()

After Cleaning The Dataset..
1.  exp minimum years good understanding of ioc rules must have good analytical skills good
2.  senior exploit and vulnerability researcher
3.  team skills communication skills analytical skills problem solving
4.  delhi ncr vikas puri
5.  missingjobtype

1.  he should have handled a team of atleast direct reportees mechanical or diploma mechanical with at
2.  head scm
3.  ppc logistics inventory management supply chain management procurement
4.  sonepat
5.  missingjobtype

1.  must be an effective communicator written spoken and strong in inter personal relationship
2.  deputy manager talent management leadership development auto
3.  hr analytics employee engagement training succession planning
4.  delhi ncr
5.  analytics

1.   years of overall experience in data engineering and big data systems proficient understanding
2.  associate manager data engineering
3.  sql javascript automation python ruby analytics machine learning
4.  bengaluru
5.  analytics

1.  chartered accountancy degree or mba in finance from a premier institute with years of experience in
2.  ts gsa senior analyst
3.  accounting finance cash flow financial planning statutory accounting
4.  gurgaon
5.  missingjobtype

1.   willingness to travel experience in teacher training is
2.  senior trainer academics
3.  academics effective communication teacher training academic trainer
4.  noida
5.  missingjobtype

1.   experience in managing fraud analytics with knowledge across customer lifecycle is must candidate
2.  associate vice president fraud analytics sas bank
3.  fraud analytics people management skills team leading problem solving
4.  delhi ncr
5.  analytics

1.  qualified chartered accountant with yrs of post qualification
2.  manager internal audit ca big
3.  accounting internal audit auditing enterprise risk management big4
4.  pune
5.  missingjobtype

1.  proven experience as payroll executive or specialist very good knowledge of legislation and regulations
2.  payroll executive
3.  esic hr bonus pf tds payroll superannuation wages leave
4.  ahmedabad bodakdev
5.  missingjobtype

1.  other activities as may be required over the period of time for smooth functioning of finance operations
2.  required ca manager finance for r r salons pvt ltd bangalore
3.  accounting standards finance auditing financial planning
4.  bengaluru kodihalli
5.  missingjobtype

In [2059]:
train_data.drop(['job_description','job_desig','location','key_skills'],1,inplace=True)
test_data.drop(['job_description','job_desig','location','key_skills'],1,inplace=True)

In [2060]:
train_data.drop(['experience'],1,inplace=True)
test_data.drop(['experience'],1,inplace=True)

In [2061]:
train_data.head(2)

,job_type,salary,company_name_encoded,Minimum_experience,Maximum_experience,key_skill_len,Key_Skills,JOB_DESCRIPTION,Job_Desig,Location
0,missingjobtype,6to10,3687,5,7,4,team skills communication skills analytical sk...,exp minimum years good understanding of ioc ru...,senior exploit and vulnerability researcher,delhi ncr vikas puri
1,missingjobtype,10to15,458,10,17,6,ppc logistics inventory management supply chai...,he should have handled a team of atleast direc...,head scm,sonepat

In [2062]:
#Do Exploratory Data Analysis

In [2063]:
train_data['merged_text']=(train_data['Job_Desig'] + ' ' + train_data['JOB_DESCRIPTION'] + ' ' + train_data['Key_Skills']
                      + ' ' + train_data['job_type'])

test_data['merged_text']=(test_data['Job_Desig'] + ' ' + test_data['JOB_DESCRIPTION'] + ' ' + test_data['Key_Skills']
                      + ' ' + test_data['job_type'])

In [2064]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data['salary'] = le.fit_transform(train_data['salary'])

In [2065]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train_data[['merged_text', 'Location','Minimum_experience','Maximum_experience','company_name_encoded','key_skill_len']], 
    train_data['salary'], test_size=0.20, 
    stratify=train_data['salary'], random_state=75)

In [2066]:
X_train_merged = X_train['merged_text']
X_train_location = X_train['Location']

X_test_merged = X_test['merged_text']
X_test_location = X_test['Location']

In [2067]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [2068]:
tf1 = TfidfVectorizer(min_df=4, token_pattern=r'\w{3,}', ngram_range=(1,3), max_df=0.85)
tf2 = TfidfVectorizer(min_df=4, token_pattern=r'\w{3,}',ngram_range=(1,3))

X_train_merged = tf1.fit_transform(X_train_merged)
X_train_location = tf2.fit_transform(X_train_location)

X_test_merged = tf1.transform(X_test_merged)
X_test_location = tf2.transform(X_test_location)

In [2069]:
from scipy import sparse
from sklearn.preprocessing import StandardScaler

sc1 = StandardScaler()
X_train_MinExp = sc1.fit_transform(np.array(X_train['Minimum_experience']).reshape(-1,1))
X_test_MinExp = sc1.transform(np.array(X_test['Minimum_experience']).reshape(-1,1))
X_train_MinExp = sparse.csr_matrix(X_train_MinExp)
X_test_MinExp = sparse.csr_matrix(X_test_MinExp)

sc2 = StandardScaler()
X_train_MaxExp = sc2.fit_transform(np.array(X_train['Maximum_experience']).reshape(-1,1))
X_test_MaxExp = sc2.transform(np.array(X_test['Maximum_experience']).reshape(-1,1))
X_train_MaxExp = sparse.csr_matrix(X_train_MaxExp)
X_test_MaxExp = sparse.csr_matrix(X_test_MaxExp)

sc3 = StandardScaler()
X_train_comp = sc3.fit_transform(np.array(X_train['company_name_encoded']).reshape(-1,1))
X_test_comp = sc3.transform(np.array(X_test['company_name_encoded']).reshape(-1,1))
X_train_comp = sparse.csr_matrix(X_train_comp)
X_test_comp = sparse.csr_matrix(X_test_comp)

sc4 = StandardScaler()
X_train_skillLen = sc4.fit_transform(np.array(X_train['key_skill_len']).reshape(-1,1))
X_test_skillLen = sc4.transform(np.array(X_test['key_skill_len']).reshape(-1,1))
X_train_skillLen = sparse.csr_matrix(X_train_skillLen)
X_test_skillLen = sparse.csr_matrix(X_test_skillLen)

In [2070]:
from scipy.sparse import hstack, csr_matrix
merged_train = hstack((X_train_merged, X_train_location, X_train_MinExp, X_train_MaxExp,X_train_comp,X_train_skillLen))
merged_test  = hstack((X_test_merged, X_test_location, X_test_MinExp, X_test_MaxExp,X_test_comp,X_test_skillLen))

In [2071]:
merged_train.shape, merged_test.shape

((15840, 35106), (3961, 35106))

In [2072]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2073]:
import lightgbm as lgb
train = lgb.Dataset(merged_train, label=y_train)
test = lgb.Dataset(merged_test, label=y_test)

In [2074]:
#train_data

In [2075]:
param = {'objective': 'multiclass',
         'num_iterations': 100,
         'learning_rate': 0.04,  
         'num_leaves': 23,
         'max_depth': 9, 
         'min_data_in_leaf': 25, 
         'max_bin': 10, 
         'min_data_in_bin': 2,   
         'num_class': 6,
         'metric': 'multi_logloss'
         }

In [2076]:
lgbm = lgb.train(params=param,
                 train_set=train,
                 num_boost_round=200,
                 valid_sets=[test])

y_pred_class = lgbm.predict(merged_test)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

[1]	valid_0's multi_logloss: 1.72176
[2]	valid_0's multi_logloss: 1.69923
[3]	valid_0's multi_logloss: 1.67866
[4]	valid_0's multi_logloss: 1.65924
[5]	valid_0's multi_logloss: 1.64129
[6]	valid_0's multi_logloss: 1.62469
[7]	valid_0's multi_logloss: 1.60878
[8]	valid_0's multi_logloss: 1.59392
[9]	valid_0's multi_logloss: 1.57987
[10]	valid_0's multi_logloss: 1.56646
[11]	valid_0's multi_logloss: 1.55338
[12]	valid_0's multi_logloss: 1.54124
[13]	valid_0's multi_logloss: 1.52947
[14]	valid_0's multi_logloss: 1.51843
[15]	valid_0's multi_logloss: 1.50781
[16]	valid_0's multi_logloss: 1.49787
[17]	valid_0's multi_logloss: 1.48847
[18]	valid_0's multi_logloss: 1.47935
[19]	valid_0's multi_logloss: 1.47063
[20]	valid_0's multi_logloss: 1.46241
[21]	valid_0's multi_logloss: 1.45442
[22]	valid_0's multi_logloss: 1.44678
[23]	valid_0's multi_logloss: 1.43947
[24]	valid_0's multi_logloss: 1.43229
[25]	valid_0's multi_logloss: 1.4256
[26]	valid_0's multi_logloss: 1.41906
[27]	valid_0's multi_logloss: 1.41289
[28]	valid_0's multi_logloss: 1.40687
[29]	valid_0's multi_logloss: 1.40086
[30]	valid_0's multi_logloss: 1.39515
[31]	valid_0's multi_logloss: 1.3898
[32]	valid_0's multi_logloss: 1.38464
[33]	valid_0's multi_logloss: 1.37962
[34]	valid_0's multi_logloss: 1.37489
[35]	valid_0's multi_logloss: 1.37025
[36]	valid_0's multi_logloss: 1.36544
[37]	valid_0's multi_logloss: 1.36101
[38]	valid_0's multi_logloss: 1.35665
[39]	valid_0's multi_logloss: 1.35252
[40]	valid_0's multi_logloss: 1.34846
[41]	valid_0's multi_logloss: 1.34459
[42]	valid_0's multi_logloss: 1.34094
[43]	valid_0's multi_logloss: 1.33721
[44]	valid_0's multi_logloss: 1.33381
[45]	valid_0's multi_logloss: 1.33043
[46]	valid_0's multi_logloss: 1.32697
[47]	valid_0's multi_logloss: 1.32362
[48]	valid_0's multi_logloss: 1.32048
[49]	valid_0's multi_logloss: 1.31743
[50]	valid_0's multi_logloss: 1.31443
[51]	valid_0's multi_logloss: 1.31163
[52]	valid_0's multi_logloss: 1.30887
[53]	valid_0's multi_logloss: 1.30621
[54]	valid_0's multi_logloss: 1.30371
[55]	valid_0's multi_logloss: 1.30122
[56]	valid_0's multi_logloss: 1.29877
[57]	valid_0's multi_logloss: 1.29639
[58]	valid_0's multi_logloss: 1.29421
[59]	valid_0's multi_logloss: 1.29211
[60]	valid_0's multi_logloss: 1.28993
[61]	valid_0's multi_logloss: 1.28782
[62]	valid_0's multi_logloss: 1.28591
[63]	valid_0's multi_logloss: 1.28399
[64]	valid_0's multi_logloss: 1.28212
[65]	valid_0's multi_logloss: 1.28051
[66]	valid_0's multi_logloss: 1.27872
[67]	valid_0's multi_logloss: 1.27701
[68]	valid_0's multi_logloss: 1.27545
[69]	valid_0's multi_logloss: 1.27401
[70]	valid_0's multi_logloss: 1.27242
[71]	valid_0's multi_logloss: 1.27115
[72]	valid_0's multi_logloss: 1.26975
[73]	valid_0's multi_logloss: 1.26821
[74]	valid_0's multi_logloss: 1.26695
[75]	valid_0's multi_logloss: 1.26577
[76]	valid_0's multi_logloss: 1.26442
[77]	valid_0's multi_logloss: 1.26317
[78]	valid_0's multi_logloss: 1.26198
[79]	valid_0's multi_logloss: 1.26089
[80]	valid_0's multi_logloss: 1.25975
[81]	valid_0's multi_logloss: 1.25864
[82]	valid_0's multi_logloss: 1.25761
[83]	valid_0's multi_logloss: 1.2564
[84]	valid_0's multi_logloss: 1.25539
[85]	valid_0's multi_logloss: 1.25428
[86]	valid_0's multi_logloss: 1.25314
[87]	valid_0's multi_logloss: 1.25208
[88]	valid_0's multi_logloss: 1.25121
[89]	valid_0's multi_logloss: 1.2501
[90]	valid_0's multi_logloss: 1.24909
[91]	valid_0's multi_logloss: 1.24808
[92]	valid_0's multi_logloss: 1.24708
[93]	valid_0's multi_logloss: 1.24626
[94]	valid_0's multi_logloss: 1.24531
[95]	valid_0's multi_logloss: 1.24454
[96]	valid_0's multi_logloss: 1.24366
[97]	valid_0's multi_logloss: 1.24286
[98]	valid_0's multi_logloss: 1.24203
[99]	valid_0's multi_logloss: 1.24122
[100]	valid_0's multi_logloss: 1.24034

/usr/local/lib/python3.6/dist-packages/lightgbm/basic.py:478: UserWarning: Converting data to scipy sparse matrix.
  warnings.warn('Converting data to scipy sparse matrix.')

In [2077]:

predictions = []
for x in y_pred_class:
    predictions.append(np.argmax(x))

print('accuracy:', accuracy_score(y_test, predictions)*100)

accuracy: 48.018177227972735

In [2078]:
#Predictions

In [2079]:
X_train_merged = train_data['merged_text']
X_train_location = train_data['Location']

X_test_merged =test_data['merged_text']
X_test_location =test_data['Location']

y_train = train_data['salary']

In [2080]:
tf1 = TfidfVectorizer(min_df=4, token_pattern=r'\w{3,}', ngram_range=(1,3), max_df=0.85)
tf2 = TfidfVectorizer(min_df=4, token_pattern=r'\w{3,}',ngram_range=(1,3))

X_train_merged = tf1.fit_transform(X_train_merged)
X_train_location = tf2.fit_transform(X_train_location)

X_test_merged = tf1.transform(X_test_merged)
X_test_location = tf2.transform(X_test_location)

In [2081]:
from scipy import sparse
from sklearn.preprocessing import StandardScaler

sc1 = StandardScaler()
X_train_MinExp = sc1.fit_transform(np.array(X_train['Minimum_experience']).reshape(-1,1))
X_test_MinExp = sc1.transform(np.array(X_test['Minimum_experience']).reshape(-1,1))
X_train_MinExp = sparse.csr_matrix(X_train_MinExp)
X_test_MinExp = sparse.csr_matrix(X_test_MinExp)

sc2 = StandardScaler()
X_train_MaxExp = sc2.fit_transform(np.array(X_train['Maximum_experience']).reshape(-1,1))
X_test_MaxExp = sc2.transform(np.array(X_test['Maximum_experience']).reshape(-1,1))
X_train_MaxExp = sparse.csr_matrix(X_train_MaxExp)
X_test_MaxExp = sparse.csr_matrix(X_test_MaxExp)

sc3 = StandardScaler()
X_train_comp = sc3.fit_transform(np.array(X_train['company_name_encoded']).reshape(-1,1))
X_test_comp = sc3.transform(np.array(X_test['company_name_encoded']).reshape(-1,1))
X_train_comp = sparse.csr_matrix(X_train_comp)
X_test_comp = sparse.csr_matrix(X_test_comp)

sc4 = StandardScaler()
X_train_skillLen = sc4.fit_transform(np.array(X_train['key_skill_len']).reshape(-1,1))
X_test_skillLen = sc4.transform(np.array(X_test['key_skill_len']).reshape(-1,1))
X_train_skillLen = sparse.csr_matrix(X_train_skillLen)
X_test_skillLen = sparse.csr_matrix(X_test_skillLen)

In [2082]:
merged_train = hstack((X_train_merged, X_train_location, X_train_MinExp, X_train_MaxExp,X_train_comp,X_train_skillLen))
merged_test  = hstack((X_test_merged, X_test_location, X_test_MinExp, X_test_MaxExp,X_test_comp,X_test_skillLen))

ValueError: ignored

In [ ]:
import lightgbm as lgb
train_data = lgb.Dataset(merged_train, label=y_train)

param = {'objective': 'multiclass',
         'num_iterations': 100,
         'learning_rate': 0.04,  
         'num_leaves': 23,
         'max_depth': 9, 
         'min_data_in_leaf': 25, 
         'max_bin': 10, 
         'min_data_in_bin': 3,   
         'num_class': 6,
         'metric': 'multi_logloss'
         }

lgbm = lgb.train(params=param, 
                 train_set=train_data)

predictions = lgbm.predict(merged_test)

y_pred_class = []
for x in predictions:
    y_pred_class.append(np.argmax(x))

y_pred_class = le.inverse_transform(y_pred_class)

In [ ]:
df_sub = pd.DataFrame(data=y_pred_class, columns=['salary'])

In [ ]:
pip install xlsxwriter

In [ ]:
import xlsxwriter
writer = pd.ExcelWriter('output.xlsx', engine='xlsxwriter')
df_sub.to_excel(writer,sheet_name='Sheet1', index=False)
writer.save()